/* header for the pages */

* {
  padding: 0;
  margin: 0;
}

body {
  overflow: scroll;
}

.homeText {
  color: darkorange;
  padding-left: 225px;
}

.homeTitle {
  margin-top: 15px;
  margin: 15px;
}

.homeText p {
  font-size: 20px;
  right: -20px;
}

.header a {
  float: right;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 20px;
  line-height: 20px;
  border-radius: 4px;
  text-align: right;
  position: relative;
  vertical-align: middle;
  top: -62px;
}

.header {
  background-color: black;
  width: 100%;
  margin: 0;
  padding: 0;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.homeTitle {
  font-family: forma-djr-deck, sans-serif;
  font-style: normal;
}
.intro {
  font-family: forma-djr-deck, sans-serif;
}
p {
  color: darkorange;
}
.sources {
  font-family: forma-djr-deck, sans-serif;
}
.sourceTable {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: 10px;
}
/* https://stackoverflow.com/a/63825397/14381579 css for centering at bottom */
.sources img {
  border-radius: 50%;
  height: 150px;
  width: 200px;
  padding-right: 50px;
  padding-left: 50px;
}

.left {
  float: left;
  padding-left: 10px;
}

.right {
  float: right;
  padding-right: 10px;
}

.question {
  display: inline-block;
  margin: 0;
}

.faq .ab {
  display: none;
}

.faq .q {
  display: block;
}

@media (max-width: 375px) {
  p {
    color: red;
  }
}
.left {
  font-family: forma-djr-deck, sans-serif;
  color: white;
}
.vid p {
  font-family: forma-djr-deck, sans-serif;
  color: white;
}
.credits {
  font-family: forma-djr-deck, sans-serif;
  color: white;
}

.credits p {
  font-family: forma-djr-deck, sans-serif;
  color: white;
}
.right {
  font-family: forma-djr-deck, sans-serif;
  color: white;
}
.right p {
  font-family: forma-djr-deck, sans-serif;
  color: white;
}
